# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
# .env

# IDE
.vscode/
.idea/

# Logs
logs/
*.log

# Database
*.sqlite3

# Docker
.docker/

# macOS
.DS_Store

# Pytest
.pytest_cache/

# Coverage
htmlcov/
.coverage

node_modules
package-lock.json
